body{
    margin: 0 auto;

    #app{
        // size
        width: 100vw;
        height: 100vh;

        // display
        @include flex(column, flex-start, flex-start);

        // decoration
        background-color: $h-c-background;

        *{
            // decoration
            color: $h-c-text;
            font-size: $h-f-text;
            font-family: Arial;
        }

        p{
            // margin
            margin: 0;
            padding: 0;
        }

        h1, h2, h3, h4, h5, h6{
            // margin
            margin: 0;
            padding: 0;
        }

        h1{
            // decoration
            font-size: $h-f-text-title;
        }

        h2{
            // decoration
            font-size: $h-f-text-subtitle;
        }


        h3{
            // decoration
            font-size: $h-f-text-big;
        }


        a{
            // decoration
            text-decoration: none;
        }

        ul{
            // decoration
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .gmnoprint {
            display: none;
        }
    
        img[alt="Google"]{
            display: none;
        }
    }
}