@mixin flex($direcction: row , $aling: center, $justify: center, $gap: 0, $wrap: nowrap){
    display: flex;
    flex-direction: $direcction;
    align-items: $aling;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin grid($rows, $columns, $gap: 0, $rows_size: 1fr, $columns_size: 1fr){
    display: grid;
    grid-template-columns: repeat($columns, $columns_size);
    grid-template-rows: repeat($rows, $rows_size);
    gap: $gap;
}

@mixin simpleGrid($aling: center, $justify: center){
    display: grid;
    align-content: $aling;
    justify-content: $justify;
}

@mixin loader-spiner(){
    // size
    width: 30px;
    height: 30px;

    // decoration
    border: 3px solid transparent;
    border-top: 3px solid $h-c-text;
    border-radius: 50%;

    // animation
    animation: spin 1s ease-in-out infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

@mixin mainButton(){
    // size
    width: 100%;
    height: 100%;

    // position
    position: relative;

    // display
    @include flex(row, flex-end, flex-start);

    // decoration
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: $h-c-text;
    color: $h-c-background !important;
    scale: 1;

    // transition
    transition: all .1s ease;

    &:hover{
        scale: 1.05;
    }
}