// colors

    $h-c-text: #262626;
    $h-c-background: #fafafa;
    $h-c-secondary: #696969;
    $h-c-border: #d2d2d2;
    

// fonts

    $h-f-text-title: 40px;
    $h-f-text-subtitle: 32px;
    $h-f-text-big: 24px;
    $h-f-text-medium: 20px;
    $h-f-text: 16px;
    $h-f-text-small: 14px;